/* @import url("https://v1.fontapi.ir/css/SFProDisplay"); */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap"); */
@font-face {
  font-family: "SF Pro Display";
  src: url("/regularFont.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

:root {
  --def-font: "SF Pro Display";
}

@media only screen and (max-width: 1100px) {
  .hidden {
    display: none !important;
  }
}
